
    <div>
        <h2>Text</h2>
    </div>

    <div class="form-container">
        <form id="form">
            <div>
                <label for="taskname">Form</label>
                <input type="text" id="taskname" name="taskname">
            </div>
            <div>
                <label for="needed_funding">Form 2</label>
                <input type="text" id="needed_funding" name="needed_funding">

                <textarea name="" id="description" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Button">
        </form>
    </div>

   {{#if tasks.length}}
  <div class="col-md-6 tasks-list">
    <h3>Current tasks:</h3>

    {{#each tasks as |task|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/tasks/{{task.id}}">{{task.taskname}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{task.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} 